.tabContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__tab {
    border: none;
    border-left: 1px solid white;      
    box-sizing: border-box;
    cursor: pointer;
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    background-color: #00bcd4;
    color: white;
   
    &--active {
      border: none;
      border: 2px solid yellow;      
      box-sizing: border-box;
      cursor: pointer;
      padding: 15px 20px 15px 20px;
      font-size: 16px;
      background-color: #00bcd4;
      color: white;
    }

  }
}